<!-- <form [formGroup]="form" class="updateForm">
  <h1 mat-dialog-title>Edit the User</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" #name>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" #email>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]>Back</button>
    <button type="submit" (click)="updateUser(name.value, email.value)" [mat-dialog-close] [disabled]="form.pristine || form.invalid"
      mat-raised-button color="primary">Save</button>
  </div>
</form> -->

<form [formGroup]="updateForm" class="editForm">
    <h1 mat-dialog-title>Editar el Usuario</h1>
    <div mat-dialog-content>
        <mat-form-field class="field-full-width">
            <input placeholder="Nombres" matInput formControlName="nombre_usuario" #nombre_usuario>
        </mat-form-field>
        <br>
        <mat-form-field class="field-full-width">
            <input placeholder="Usuario" matInput formControlName="usuario_usuario" #usuario_usuario>
        </mat-form-field>
        <br>
        <mat-form-field class="field-full-width">
            <input type="password" placeholder="Password" matInput formControlName="clave_usuario" #clave_usuario>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="accent" [mat-dialog-close]>Back</button>
        <button type="submit" (click)="updateUser(nombre_usuario.value, usuario_usuario,clave_usuario.value)" [mat-dialog-close] [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
    </div>
</form>